#something { z-index:        18 }

.tom {
  z-index: 2;
}

.another, .z-index {
  z-index: 2;
  background: hotpink;
}

.another, .z-index {
  z-index: -2;
}

#something {
        z-index:          34



}

#something_else {
  z-index: 0;
  background: pink;
}