#something { z-index:        20 }

.tom {
  z-index: 10;
}

.another, .z-index {
  z-index: 10;
  background: hotpink;
}

.another, .z-index {
  z-index: -2;
}

#something {
        z-index:          30



}

#something_else {
  z-index: 0;
  background: pink;
}